# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

API_PORT=8000

DATABASE_URL="mysql://user:password@localhost:33080/wish-tree-db"
SHADOW_DATABASE_URL="mysql://user:password@localhost:33081/wish-tree-shadow-db"

# development | production | staging | test
APP_ENV=development

# KYSELY 관련 개발 환경 변수
KYSELY_DB_HOST: localhost
KYSELY_DB_PORT: 33080
KYSELY_DB_USER: user
KYSELY_DB_PASSWORD: password
KYSELY_DB_NAME: wish-tree-db